.NameHotel{
    width: 100%;
    height: 15vh;
    float:left;
    background-color: #282828;
    box-sizing: border-box;
    text-align: center;
    color: goldenrod;
}

.ContenedorSuperiorP img{
    margin-top: 2%;
    width: 30%;
    height: 300px;
    margin-left: 2%;
    opacity: 1;
}

.TextoIzquierda{
    width: 100%;
    height: 15vh;
    float:left;
    background-color: #fefeff;
    font-style: italic;
    color: goldenrod;
    text-align: center;
    font-size: 115%;
    font-family: Lato;
}

.TextoIzquierda h2{
    color: black;
}

.TextoCentral{
    width: 100%;
    height: 15vh;
    float:left;
    background-color:white;
    font-style: italic;
    color: #000000;
    text-align: center;
    font-size: 125%;
    font-family: Lato;
    
}

.PaquetesP{
    width: 100%;
    height: 10vh;
    background-color:#F3ED9E;
    float: right;
    text-align: center;
    font-style: italic;
    color: goldenrod;
    text-align: center;
    font-size: 150%;
    font-family: Lato;
}

.opacidadImagen{
    max-width: 100%;
    opacity: 0.5;
    transition: all 0.5s;
    border-radius: 2%;

}
.CajasPromociones{
    box-sizing: border-box;
    float: left;
    padding: 1em;
    width:50%;
    background-color: white;
}
.CajasPromociones img{
    max-width: 98%;
    transition: all 0.5s;
    border-radius: 2%;
}
.CajasPromociones h2{
    font-size: 180%;
    color: goldenrod;
}
.CajasPromociones p{
    font-size: 104%;
}

#Caja1 {
    
    text-align: center;
    font-style: italic;
     
}
#Caja2 {
    
    text-align: center;
    font-style: italic;
}
#Caja3 {
    
    text-align: center;
    font-style: italic;
}
#Caja4 {
    
    text-align: center;
    font-style: italic;
    
}
.items{
    text-align: center;
    align-items: center;
    font-style: italic;
    
}
.items li{
    font-size: 104%;
    text-align: center;
    align-items: center;
}
.listaItems{
    list-style-type: none;
    text-align: center;
    align-items: center;
    font-style: italic;
}
.BotonReservar{
    text-align: center;
    padding: 10px 15px;
    background-color: #E3AB47;
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;
    width: 30%;
    float: right;
    margin-right: 34%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

.BotonReservar:hover{
    color: #082032;
    background-color: #eaeaea;
}
/* efecto al pasar por las opciones del menu*/
.navegacion ul a:hover {
    color: #E3AB47;
    font-size: 16px;
    border-bottom: 1.5px solid #E3AB47;
  }
  
  /* dar estilo al boton*/
  .boton{
      color: #FFF;
      background-color: #E3AB47;
      border-color: #E3AB47;
      border: 1px solid transparent;
      border-radius: 5px;
      padding: 10px;
      padding-left: 15px;
      padding-right: 15px;
      text-transform: uppercase;
      cursor: pointer;
  }
  
  /*------------------------------------------------------------------------------*/
  /* efecto al pasar el mouse al boton*/
  .boton:hover{
      color: #FFF;
      background-color: #E3AB47;
      border-color: #E3AB47;
  }
  /* DOM efecto hacia arriba-abajo-izquierda-derecha*/
  .transform_up {transform: translateY(20%);}
  .transform_dow {transform: translateY(-20%);}
  .transform_let {transform: translateX(20%);}
  .transform_right {transform: translateX(-20%);}

  .show_img{opacity:1;
   transform:none ;
}
/*DOM Scroll TopButton*/
.boton-top{
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    background:#E3AB47 ;
    border:none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 32px;
}
