.padreHotel{
    display: flex;
    flex-flow: column nowrap;
}

.formatoaliss{
    margin: 12px;
    padding: 12px;
    box-sizing: border-box;
}

/******************** BIENVENIDA ********************/
.bienvenida{
    justify-content: center;
    text-align: center;
    font-family: Lato;
    margin-bottom: 0;
    padding-bottom: 0;
}

.carousel-imagenHotel img{
    width: 95%;
    height: 95%;
    margin: 0;
    padding: 0;
}

.sectionBienvenidaHotel{
    margin-bottom: 0;
    padding-bottom: 0;
}

.titulobienvenida{
    color: goldenrod;
    font-style: italic;
    font-size: 150%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.mensajeBienvenida{
    border: 3px solid #b99937;
}

/******************* CAROUSEL DE IMÁGENES **************/
.carousel-imagenHotel{
	position:relative;
    margin: 0px;
    padding: 0px;
}

.carousel-anterior,
.carousel-siguiente{
	position:absolute;
	width:20px;
	height:20px;
	border: none;
	top: calc(50% - 50px);
	cursor:pointer;
    background: none;
	color: goldenrod;
    margin: 0px;
    padding: 0px;
}

.carousel-anterior:hover,
.carousel-siguiente:hover {
	color: black;
}

.carousel-anterior {
	left: -15px;
}

.carousel-siguiente {
	right: -15px;
}

.carousel-lista{
    overflow: hidden;
}

.carousel-indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #D4AC2B;
	opacity: .4;
	border-radius: 0;
}

.carousel-indicadores .glider-dot:hover {
	opacity: .7;
}

.carousel-indicadores .glider-dot.active {
	opacity: 1;
}

/******************** INSTALACIONES ********************/
.sectionInstalacionesHotel img{
    width: 80%;
    height: 90%;
}

.sectionInstalacionesHotel{ 
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.tituloinstalaciones{
    /*background: #E6DF9A;*/
    justify-content: center;
    text-align: center;
    font-style:italic;
    color: goldenrod;
    font-family: Lato;
}

.tituloinstalaciones h4{
    color: black;
    margin:0;
}

.tituloinstalaciones h2{
    margin: 0;
    padding-top: 0;
}

.tipo-de-intalaciones{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.restaurante{
    background: white;
    border: 6px solid #b99937;
    border-radius: 2%;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.restaurante h3{
    color: goldenrod;
}

.restaurante-imagen{
    background: #F3ED9E;
    border-radius: 2%;
    margin: 0;
    padding: 0;
    height: 227px;
    justify-content: center;
}

.salon-evento{
    background: white;
    border: 6px solid #b99937;
    border-radius: 2%;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.salon-evento h3{
    color: goldenrod;
}

.salon-evento-imagen{
    background: #F3ED9E;
    border-radius: 2%;
    margin: 0;
    padding: 0;
    height: 227px;
}

.piscina{
    background: white;
    border: 6px solid #b99937;
    border-radius: 2%;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.piscina h3{
    color: goldenrod;
}

.piscina-imagen{
    background: #F3ED9E;
    border-radius: 2%;
    margin: 0;
    padding: 0;
    height: 227px;
}

/******************** UBICACIÓN - SERVICIOS ********************/

.sectionUbicacionServicios{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.ubicacion{
    background: white;
    border: 6px solid #b99937;
    border-radius: 2%;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ubicacion h3{
    color: goldenrod;
}

.ubicacion-imagen{
    background: #F3ED9E;
    border-radius: 2%;
    margin: 0;
    padding: 0;
    height: 227px;
}

.wi-fi{
    background: white;
    border: 6px solid #b99937;
    border-radius: 2%;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.wi-fi h3{
    color: goldenrod;
}

.wi-fi-imagen{
    background: #F3ED9E;
    border-radius: 2%;
    margin: 0;
    padding: 0;
    height: 227px;
}

/******************** ATENCIÓN ********************/

.sectionAtencion{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.atencion-personalizada{
    background: white;
    border: 6px solid #b99937;
    border-radius: 2%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.atencion-personalizada h3{
    color: goldenrod;
}

.atencion-personalizada-imagen{
    background: #F3ED9E;
    border-radius: 2%;
    margin: 0;
    padding: 0;
    height: 227px;
}

.botonzambrano{
    margin-top: 1%;
    color: #fff;
    padding: 1%;
    background-color: #b99937;
    border-color: #b99937;
    border: 1px solid transparent;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

@media all  and (max-width: 910px){
    .tipo-de-intalaciones{
        flex-direction: column;
    }
    .sectionUbicacionServicios{
        flex-direction: column;
    }

}
